
.components-usage-intro {
  display: flex;
  flex-direction: column;
  font-size: 30rpx;
  .title-b {
    margin-bottom: 17rpx;
  }
  .title-t {
    margin-top: 17rpx;
  }
  .step {
    padding-left: 17rpx;
    display: flex;
    margin-bottom: 7rpx;
    .num {
      font-weight: bold;
    }
  }
  .bold {
    font-weight: bold;
  }
}
